<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite" parallel="tests" thread-count="2">

    <parameter name="browser" value="chrome" />

    <test name="Login Tests">
        <classes>
            <class name="com.juaracoding.LoginTest" />
        </classes>
    </test>

    <test name="PracticeForm Tests">
        <classes>
            <class name="com.juaracoding.PracticeFormTest" />
        </classes>
    </test>

</suite>
